/* main alignment and number of columns */
.container {
    width: 35%;
    text-align: center;
}

/* these objects are not sensitive to improper aspect ratio */
.embed video, .embed object {
    width: 500px;
    height: 500px;
}

/* fit youtube player into window */
iframe {
    width: 100% !important;
}

/* fixes, thumbnails on smart-phone */
/* fixes, modal on smart-phone */
@media (max-width: 1500px) {
    .thumbnails li {
        width: 20% !important;
    }
    .container {
        width: 100% !important;
    }
}


/* align thumbnails */
.thumbnails li {
    display: inline-block !important;
    *display:inline; /* IE7 refuses to honour inline-block */
    float: none !important; /* this is the part that makes it work */
}

/* align menus */
.nav, .carousel img {
    display: inline-block;
    *display:inline; /* IE7 refuses to honour inline-block */
}