# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# backup/content files
original/
bak/
tmp/
old/
test/
files/
*.tmp
*.bak
*.bak*
*.old
*.old*

# output
target/

# HSQLDB database files
data/

# dont need this on production server
run.bat
snippets.txt