# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# backup/content files
original/
bak/
tmp/
*.tmp
*.bak
test/
files/

# output
target/

# HSQLDB database files
data/

# dont need this on production server
run.bat
snippets.txt