

@media (min-width: 768px) {
/*    body {
        overflow: hidden;
    }*/
    .bs-docs-sidebar, #content-wrap {
        padding: 5px;
        padding-top: 20px;
        padding-left: 20px
    }
    .bs-docs-sidebar {
        width: 12%;
        /*margin-right: 4%;*/
    }
}

/* pyramid style */

/*.bs-docs-sidebar nav {
    width: 51%;
    margin: auto;
}

.bs-docs-sidebar {
    background-image: url('bg1.png');
    background-position: left bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.bs-docs-sidebar img {
    width: 100%;
}*/


/* pyramid style end */




/* DASH STYLE */


@media (min-width: 768px) {
    /* logo */
    /* FIXME: eleminate specific dash style */
    .bs-docs-sidebar .nav:first-child>li:first-child {
        height: 28px;
        background-image: url('dash.png');
        background-position: bottom;
        background-repeat: repeat-x;
    }

    /* clearup logo */
    .bs-docs-sidebar .nav:first-child>li:first-child>a {
        text-decoration: none;
    }


    .bs-docs-sidebar ul:first-child>li>a, .nav-bottom {
        background-image: url('dash.png');
        background-repeat: repeat-x;
        background-position: center left; 
        padding-left: 10px;
        /*background-attachment: fixed;*/
    }

    .bs-docs-sidebar ul:first-child>li>a>span {
        background-color: white;
    }

    .bs-docs-sidebar .nav>li>a:hover,
    .bs-docs-sidebar .nav>li>a:focus,
    .bs-docs-sidebar .nav .active a {
        background-color: white!important;
    }

    .logo {
        text-align: center;
    }

    .bs-docs-sidebar .nav .nav {
        padding-left: 15px!important;
    }

    .bs-docs-sidebar ul li:nth-child(3) ul {
      width: 130px!important;
    }
}

/* DASH STYLE END */

/* CALENDAR STYLE */

.bs-docs-sidebar ul li.calendar ul {
    width: 120px;
}
.bs-docs-sidebar ul li.calendar ul li {
    padding: 5px;
    margin: auto;
}

.bs-docs-sidebar ul li.calendar ul li, 
.bs-docs-sidebar ul li.calendar ul li a {
    display: inline;
}

/* CALENDAR STYLE END */

/*.bs-docs-sidebar .nav:first-child>li>a {
    text-decoration: underline;
}*/

a, a:hover, a:focus {
    color: black;
    text-decoration: none;
}

.hidden {
    visibility: hidden;
}

/*#content-wrap {
    padding-top: 40px;
}*/

/*li a {
    font-family: "Times New Roman";
}*/

#content-controls {
    font-size: large;
}

.bs-docs-sidebar.affix {
    position: static
}

/*.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px
}*/
.bs-docs-sidebar .nav>li>a {
    /*display: block;*/
    /*padding: 4px 20px;*/
    padding: 0px;
    /*font-size: 13px;*/
    /*font-size: 12px;*/
    font-weight: 500;
    /*color: #767676;*/
}
/*.bs-docs-sidebar .nav>li>a:focus,*/
.bs-docs-sidebar .nav>li>a:hover {
    /*padding-left: 19px;*/
    /*color: #563d7c;*/
    /*text-decoration: none;*/
    background-color: transparent;
    /*border-left: 1px solid #563d7c*/
    text-decoration: underline;
}
.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
    /*padding-left: 18px;*/
    /*font-weight: 700;*/
    /*color: #563d7c;*/
    background-color: transparent;
    /*border-left: 2px solid #563d7c*/
    text-decoration: underline;
}
.bs-docs-sidebar .nav .nav {
    display: none;
    /*padding-bottom: 10px;*/
    padding-left: 5px;
}
.bs-docs-sidebar .nav .nav>li>a {
/*    padding-top: 1px;
    padding-bottom: 1px;*/
    /*padding-left: 30px;*/
    /*font-size: 12px;*/
    font-weight: 400
}
.bs-docs-sidebar .nav .nav>li>a:focus,
.bs-docs-sidebar .nav .nav>li>a:hover {
    /*padding-left: 29px*/
}
.bs-docs-sidebar .nav .nav>.active:focus>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active>a {
    /*padding-left: 28px;*/
    font-weight: 500
}

.bs-docs-sidebar .nav>.active>ul {
    display: block
}

/*@media (min-width: 768px) {
    .back-to-top,
    .bs-docs-theme-toggle {
        display: block
    }
}

@media (min-width: 992px) {
    .bs-docs-sidebar .nav>.active>ul {
        display: block
    }
    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width: 213px
    }
    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px
    }
    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }
    .bs-docs-sidebar.affix .bs-docs-sidenav,
    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix,
    .bs-docs-sidebar.affix-bottom {
        width: 263px
    }
}*/