/* remove all space between thumbnails */
.thumbnail {
    padding: 0;
    border: 0;
    margin-bottom: 0;
}

/* proper align from left */
.thumbnails, .embed-carousel {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

/* override exactly the same bootstrap style */
/* set size to slim */
@media (min-width: 1200px) {
    .thumbnails, .embed-carousel {
        width: 500px;
    }
}

/* remove small bottom border */
.thumbnail img {
    display: inline-block;
}

/* align list elements */
.nav li, .thumbnails li {
    display: inline-block;
    *display: inline; /* IE7 refuses to honour inline-block */
    float: none; /* this is the part that makes it work */
}