/* main page block alignment and number of columns */
.container {
    text-align: center;
}

/* fix improper aspect ratio */
.embed video, .embed object {
    width: 500px;
    height: 500px;
}

/* fit youtube player into window */
iframe {
    width: 100%;
}